.message {
  background: url(../images/message-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 3rem 2rem;

  form {
    margin: 2rem auto;
    background: $white;
    text-align: center;
    max-width: 40rem;
    box-shadow: $box-shadow;
    padding: 2rem;

    h3 {
      font-size: 3rem;
      color: $black;
    }

    .box {
      width: 100%;
      padding: 1.5rem 0;
      margin: 0.7rem 0;
      font-size: 1.6rem;
      color: $light-color;
      text-transform: none;
      border-bottom: $border;

      &:focus {
        border-color: $red;
      }
    }

    textarea {
      height: 15rem;
      resize: none;
    }
  }
}
