.shop {
  background: $light-bg;

  .box-container {
    @include grid(31rem);

    .box {
      text-align: center;
      background: $white;
      border: $border;
      box-shadow: $box-shadow;

      &:hover .image {
        img {
          transform: scale(1.1);
        }
        .icons {
          transform: translateX(0rem);
        }
      }

      .image {
        position: relative;
        overflow: hidden;

        img {
          height: 25rem;
        }

        .icons {
          position: absolute;
          top: 1rem;
          left: 2rem;
          transform: translateX(-10rem);

          a {
            display: block;
            height: 5rem;
            width: 5rem;
            line-height: 4.5rem;
            font-size: 1.7rem;
            color: $black;
            border: $border;
            box-shadow: $box-shadow;
            margin-top: 1rem;

            &:hover {
              color: $white;
              background: $red;
            }
          }
        }
      }

      .content {
        padding: 2rem;

        h3 {
          font-size: 2rem;
          color: $black;
          padding-bottom: 0.5rem;
          font-weight: normal;
        }

        .price {
          font-size: 2rem;
          font-weight: bolder;
          color: $red;

          span {
            color: $light-color;
            font-size: 1.5rem;
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
